@import "../../style/themes/default";
@import "../../style/mixins/index";
@import "./mixin";

$tree-prefix-cls: "#{$prefix-cls}-tree";
$switcher-width: 14px;
$switcher-border: #aaa;

.#{$tree-prefix-cls} {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  line-height: $line-height-base;
  &-showLine {
    &,
    .#{$tree-prefix-cls}-child-tree {
      li {
        position: relative;
      }
      > li:not(:last-child):before {
        content: ' ';
        width: 1px;
        border-left: 1px solid $border-color-base;
        height: 100%;
        position: absolute;
        left: 3px;
        margin: 18px 0;
      }
    }
    .#{$tree-prefix-cls}-switcher + .#{$tree-prefix-cls}-checkbox {
      padding-left: 5px;
    }
  }
  li {
    padding: 0;
    margin: 6px 0;
    list-style: none;
    white-space: nowrap;
    outline: 0;
    a[draggable],
    a[draggable="true"] {
      user-select: none;
      /* Required to make elements draggable in old WebKit */
      -khtml-user-drag: element;
      -webkit-user-drag: element;
    }
    &.drag-over {
      > a[draggable] {
        background-color: $primary-color;
        color: white;
        opacity: 0.8;
      }
    }
    &.drag-over-gap-top {
      > a[draggable] {
        border-top: 2px $primary-color solid;
      }
    }
    &.drag-over-gap-bottom {
      > a[draggable] {
        border-bottom: 2px $primary-color solid;
      }
    }
    &.filter-node {
      > a {
        color: $error-color!important;
        font-weight: bold!important;
      }
    }
    ul {
      margin: 0;
      padding: 0 0 0 18px;
    }
    a {
      display: inline-block;
      padding: 2px 5px 1px;
      border-radius: 2px;
      margin: -2px 0;
      cursor: pointer;
      text-decoration: none;
      vertical-align: top;
      color: #333;
      color: rgba(0, 0, 0, .7);
      transition: all 0.3s ease;
      &:hover {
        color: rgba(0, 0, 0, .7);
        text-decoration: none;
        background-color: tint($primary-color, 90%);
      }
      &.#{$tree-prefix-cls}-node-selected {
        background-color: tint($primary-color, 80%);
      }
      &.#{$tree-prefix-cls}-not-selectable:hover {
        background-color: transparent;
        cursor: not-allowed;
      }
    }
    span {
      &.#{$tree-prefix-cls}-checkbox {
        margin: 2px 4px 0 0;
      }
      &.#{$tree-prefix-cls}-switcher,
      &.#{$tree-prefix-cls}-iconEle {
        width: $switcher-width;
        height: $switcher-width;
        line-height: $switcher-width;
        display: inline-block;
        vertical-align: -2px;  // FIXME
        border: 0 none;
        cursor: pointer;
        outline: none;
      }
      &.#{$tree-prefix-cls}-icon_loading {
        &:before {
          display: inline-block;
          animation: loadingCircle 1s infinite linear;
        }
      }
      &.#{$tree-prefix-cls}-switcher {
        &.#{$tree-prefix-cls}-switcher-noop {
          cursor: auto;
        }
        &.#{$tree-prefix-cls}-roots_open,
        &.#{$tree-prefix-cls}-center_open,
        &.#{$tree-prefix-cls}-bottom_open,
        &.#{$tree-prefix-cls}-noline_open {
          @include antTreeSwitcherIcon();
          &.#{$tree-prefix-cls}-showLine-open:before {
            content: "-";
          }
        }
        &.#{$tree-prefix-cls}-roots_close,
        &.#{$tree-prefix-cls}-center_close,
        &.#{$tree-prefix-cls}-bottom_close,
        &.#{$tree-prefix-cls}-noline_close {
          @include antTreeSwitcherIcon();
          @include ie-rotate(3);
          &:before {
            $scale: 7px/14px;
            transform: rotate(270deg) scale($scale);
          }
          &.#{$tree-prefix-cls}-showLine-close:before {
            content: "+";
          }
        }
        &.#{$tree-prefix-cls}-roots_docu,
        &.#{$tree-prefix-cls}-center_docu,
        &.#{$tree-prefix-cls}-bottom_docu,
        &.#{$tree-prefix-cls}-noline_docu {
          @include antTreeSwitcherIcon();
        }

        &.#{$tree-prefix-cls}-showLine-noop,
        &.#{$tree-prefix-cls}-showLine-open,
        &.#{$tree-prefix-cls}-showLine-close {
          right: 4px;
          background-color: $background-color-white;
        }
        &.#{$tree-prefix-cls}-showLine-noop,
        &.#{$tree-prefix-cls}-showLine-open,
        &.#{$tree-prefix-cls}-showLine-close {
          border: 1px solid $switcher-border;
          border-radius: $border-radius-base;
          &:before {
            transform: none;
            left: 0;
            right: 0;
            text-align: center;
          }
        }
        &.#{$tree-prefix-cls}-showLine-noop,
        &.#{$tree-prefix-cls}-showLine-open:before {
          top: -1px;
        }
        &.#{$tree-prefix-cls}-showLine-noop {
          color: $switcher-border;
          position: relative;
          border: 1px solid $background-color-white;
        }

        &.#{$tree-prefix-cls}-switcher-format:before {
          transform: none;
        }
      }
    }
  }
  &-child-tree {
    display: none;
    &-open {
      display: block;
    }
  }
  .#{$tree-prefix-cls}-treenode-disabled {
    >span,
    >a,
    >a:hover,
    >a span {
      color: #ccc;
      cursor: not-allowed;
      background-color: transparent;
    }
  }
  &-icon__open {
    margin-right: 2px;
    vertical-align: top;
  }
  &-icon__close {
    margin-right: 2px;
    vertical-align: top;
  }
  &-checkbox {
    margin-right: 2px;
    vertical-align: 1px;
    .mt-checkbox-inner {
      width: 14px;
      height: 14px;
    }
    .mt-checkbox-checked .mt-checkbox-inner::after {
      top: 0;
      left: 3px;
    }
    .mt-checkbox-indeterminate .mt-checkbox-inner:after {
      top: 5px;
      left: 2px;
    }
  }
}
@keyframes loadingCircle {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}


