@import '../../style/themes/default.scss';
@import "../../style/mixins/index";

$date-calendar-basic-prefix-cls: 'date-calendar';
$date-calendar-prefix-cls: #{$prefix-cls}-#{$date-calendar-basic-prefix-cls};
$month-calendar-basic-prefix-cls: 'month-calendar';
$month-calendar-prefix-cls: #{$prefix-cls}-#{$month-calendar-basic-prefix-cls};
$date-time-calendar-basic-prefix-cls: 'date-time-calendar';
$date-time-calendar-prefix-cls: #{$prefix-cls}-#{$date-time-calendar-basic-prefix-cls};

//日期日历，月份日历，日期时间日历
.#{$date-calendar-basic-prefix-cls},
.#{$month-calendar-basic-prefix-cls},
.#{$date-time-calendar-basic-prefix-cls} {
  background-color: #fff;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 240px;
  & &-content {
    display: none;
    &.active {
      display: block;
    }
  }
  & &-header {
    text-align: center;
    line-height: 32px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
  }
  & &-footer {
    border-top: 1px solid #e5e5e5;
  }
  & &-year-switcher, & &-month-switcher {
    position: absolute;
    top: 10px;
    line-height: 1;
    &:hover {
      cursor: pointer;
    }
    &.left-switcher {
      left: 12px;
      margin-right: 10px;
    }
    &.right-switcher {
      right: 12px;
      margin-left: 10px;
    }
  }
  & &-year-btn, & &-month-btn, & &-date-btn {
    &:hover {
      cursor: pointer;
    }
    > span:first-child {
      margin-right: 2px;
    }
  }
  & &-year-btn {
    margin-right: 2px;
  }
}

.#{$date-calendar-prefix-cls},
.#{$month-calendar-prefix-cls},
.#{$date-time-calendar-prefix-cls} {
  color: #333;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14);
  & &-year-switcher, & &-month-switcher {
    color: #aaa;
    &:hover {
      color: $primary-color;
    }
  }
  & &-year-btn, & &-month-btn, & &-date-btn {
    &:hover {
      color: $primary-color;
    }
    &.disabled:hover {
      color: #333;
      cursor: text;
    }
  }
}

.#{$date-calendar-basic-prefix-cls},
.#{$date-time-calendar-basic-prefix-cls} {
  & &-month-switcher {
    font-size: 12px;
    top: 10px;
    &.left-switcher {
      left: 36px;
    }
    &.right-switcher {
      right: 36px;
    }
  }
}


//日期日历
.#{$date-calendar-basic-prefix-cls} {
  & &-today-btn {
    line-height: 34px;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
  & &-today-btn-disabled {
    &, &:hover {
      cursor: not-allowed;
    }
  }
}

.#{$date-calendar-prefix-cls} {
  & &-today-btn {
    &:hover {
      color: $primary-color;
    }
    &.#{$date-calendar-basic-prefix-cls}-today-btn-disabled {
      &, &:hover {
        color: #aaa;
      }
    }
  }
}


//日期时间日历
.#{$date-time-calendar-basic-prefix-cls} {
  & &-date-btn {
    margin-left: 2px;
  }
  & &-footer {
    line-height: 34px;
    min-height: 34px;
  }
  & &-date-time-switcher, & &-now-btn {
    padding: 0 10px;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
  & &-date-time-switcher, & &-confirm-btn {
    float: right;
  }
  & &-now-btn {
    float: left;
  }
  & &-confirm-btn {
    margin: 3px 10px;
  }
  & &-now-btn-disabled {
    &, &:hover {
      cursor: not-allowed;
    }
  }
  .time-panel {
    border: none;
    box-shadow: none;
    ul {
      height: 225px;
      padding-bottom: 195px;
    }
  }
}

.#{$date-time-calendar-prefix-cls} {
  & &-date-time-switcher, & &-now-btn {
    &:hover {
      color: $primary-color;
    }
    &.#{$date-time-calendar-basic-prefix-cls}-now-btn-disabled {
      &, &:hover {
        color: #aaa;
      }
    }
  }
}
