@import '../../style/themes/default.scss';
@import "../../style/mixins/index";

$primary-color-hover: tint($primary-color, 85%);
$date-disabled-bg-color: #F3F3F3;

$date-panel-basic-prefix-cls: 'date-panel';
$date-panel-prefix-cls: #{$prefix-cls}-#{$date-panel-basic-prefix-cls};
$month-panel-basic-prefix-cls: 'month-panel';
$month-panel-prefix-cls: #{$prefix-cls}-#{$month-panel-basic-prefix-cls};
$year-panel-basic-prefix-cls: 'year-panel';
$year-panel-prefix-cls: #{$prefix-cls}-#{$year-panel-basic-prefix-cls};
$time-panel-basic-prefix-cls: 'time-panel';
$time-panel-prefix-cls: #{$prefix-cls}-#{$time-panel-basic-prefix-cls};

//通用
.#{$date-panel-basic-prefix-cls}, .#{$month-panel-basic-prefix-cls},
.#{$year-panel-basic-prefix-cls} {
  display: inline-block;
  line-height: 1.5;
}


//日期面板
.#{$date-panel-basic-prefix-cls} {
  & &-header {
    padding: 4px 0 3px;
    .#{$date-panel-basic-prefix-cls}-data-wrapper {
      margin: 0;
      line-height: 18px;
    }
  }
  & &-content {
    padding: 4px 0;
  }
  & &-data-wrapper {
    display: inline-block;
    width: 34px;
    text-align: center;
    margin: 4px 0;
    line-height: 24px;
    &.disabled-date {
      .#{$date-panel-basic-prefix-cls}-data {
        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }
  & &-data {
    width: 24px;
    margin: 0 auto;
    &:hover {
      cursor: pointer;
    }
  }
}

.#{$date-panel-prefix-cls} {
  & &-header {
    color: #666;
  }
  & &-data-wrapper {
    &.not-current-month {
      &, & .#{$date-panel-prefix-cls}-data {
        color: #999;
      }
    }
    &.is-today {
      color: $primary-color;
      .#{$date-panel-prefix-cls}-data {
        border: 1px solid $primary-color;
        line-height: 22px;
      }
      &.selected-date {
        .#{$date-panel-prefix-cls}-data:hover {
          border-color: $primary-color-hover;
        }
      }
    }
    &.selected-date {
      .#{$date-panel-prefix-cls}-data {
        color: #fff;
        background-color: $primary-color;
        &:hover {
          color: #333;
          background-color: $primary-color-hover;
        }
      }
    }
    &.disabled-date {
      .#{$date-panel-prefix-cls}-data {
        border-radius: 0;
        margin: 0;
        width: 100%;
        color: #aaa;
        background-color: $date-disabled-bg-color;
      }
      &.is-today, &.selected-date {
        .#{$date-panel-prefix-cls}-data {
          &:hover {
            color: #aaa;
            background-color: $date-disabled-bg-color;
            border-color: $date-disabled-bg-color;
          }
        }
      }
      &.is-today {
        .#{$date-panel-prefix-cls}-data {
          border-color: $date-disabled-bg-color;
        }
      }
      &.disabled-date-start {
        .#{$date-panel-prefix-cls}-data {
          margin-left: 5px;
          padding-right: 10px;
          border-top-left-radius: 24px;
          border-bottom-left-radius: 24px;
        }
        &.disabled-date-end {
          margin: 4px 0;
          .#{$date-panel-prefix-cls}-data {
            width: 24px;
            margin: 0 auto;
            padding: 0;
          }
        }
      }
      &.disabled-date-end {
        .#{$date-panel-prefix-cls}-data {
          margin-left: -5px;
          padding-left: 10px;
          border-top-right-radius: 24px;
          border-bottom-right-radius: 24px;
        }
      }
    }
  }
  & &-data {
    border-radius: 12px;
    box-sizing: border-box;
    &:hover {
      color: #333;
      background-color: $primary-color-hover;
    }
  }
}


//月份面板
.#{$month-panel-basic-prefix-cls} {
  & &-content {
    padding: 10px 11px;
  }
  & &-data-wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 18px 10px;
    &.disabled-month {
      &, &.selected-month {
        .#{$month-panel-basic-prefix-cls}-data {
          cursor: not-allowed;
        }
      }
    }
  }
  & &-data {
    width: 52px;
    line-height: 24px;
    &:hover {
      cursor: pointer;
    }
  }
}

.#{$month-panel-prefix-cls} {
  & &-data-wrapper {
    &.selected-month {
      .#{$month-panel-prefix-cls}-data {
        color: #fff;
        background-color: $primary-color;
        &:hover {
          color: #333;
          background-color: $primary-color-hover;
        }
      }
    }
    &.disabled-month {
      &, &.selected-month {
        .#{$month-panel-prefix-cls}-data {
          color: #aaa;
          &, &:hover {
            background-color: #fff;
          }
        }
      }
    }
  }
  & &-data {
    border-radius: 2px;
    &:hover {
      color: #333;
      background-color: $primary-color-hover;
    }
  }
}


//年份面板
.#{$year-panel-basic-prefix-cls} {
  & &-content {
    padding: 10px 8px;
  }
  & &-data-wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 18px 7px;
    &.disabled-year {
      &, &.selected-year {
        .#{$year-panel-basic-prefix-cls}-data {
          cursor: not-allowed;
        }
      }
    }
  }
  & &-data {
    width: 60px;
    line-height: 24px;
    &:hover {
      cursor: pointer;
    }
  }
}

.#{$year-panel-prefix-cls} {
  & &-data-wrapper {
    &.selected-year {
      .#{$year-panel-prefix-cls}-data {
        color: #fff;
        background-color: $primary-color;
        &:hover {
          color: #333;
          background-color: $primary-color-hover;
        }
      }
    }
    &.disabled-year {
      &, &.selected-year {
        .#{$year-panel-prefix-cls}-data {
          color: #aaa;
          &, &:hover {
            background-color: #fff;
          }
        }
      }
    }
    &.#{$year-panel-prefix-cls}-left-switcher,
    &.#{$year-panel-prefix-cls}-right-switcher {
      color: #aaa;
      font-size: 12px;
    }
  }
  & &-data {
    border-radius: 2px;
    &:hover {
      color: #333;
      background-color: $primary-color-hover;
    }
  }
}


//时间面板
.#{$time-panel-basic-prefix-cls} {
  background-color: #fff;
  font-size: 12px;
  border: 1px solid #ddd;
  & &-time-options {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  & &-option-list {
    display: table-cell;
    border-right: 1px solid #ddd;
    > ul {
      height: 178px;
      overflow-y: auto;
      position: relative;
      padding-bottom: 150px;
    }
    &:last-child {
      border-right: none;
    }
  }
}

//时间面板-选项列表
.#{$time-panel-basic-prefix-cls} {
  &-option-list &-option-item {
    text-align: center;
    line-height: 30px;
    &:hover {
      cursor: pointer;
    }
    &.option-item-disabled {
      cursor: not-allowed;
    }
    &.option-item-disabled-hide {
      display: none;
    }
  }
}

.#{$time-panel-prefix-cls} {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .14);
  &-option-list &-option-item {
    color: #333;
    &:hover {
      color: $primary-color;
    }
    &.option-item-selected {
      background-color: #f8f8f8;
    }
    &.option-item-disabled {
      color: #aaa;
      background-color: #f3f3f3;
      &:hover {
        color: #aaa;
      }
    }
  }
}
