.dialog-basic-demo{
  .mt-dialog{
    width: 420px;

  }
  .dialog-basic-demo-content{
    height: 120px;
    .mt-input{
      margin: 16px;
    }
  }
}
.dialog-alert-demo{
  .mt-btn{
    margin: 10px;
  }
}