.block-tree-select-demo{
  .tree-select-basic-demo{
    .mt-select{
      width: 300px;
      display:inline-block;
      margin: 0 10px;
    }
    .mt-select-multiple{
      width: 300px;
      display: inline-block;
      margin: 0 10px;
    }
  }
}