
.radio-demo {
  hr {
    margin: 40px 0;
  }
  .panel-body {
    .mt-radio {
      margin-bottom: 10px;
    }
    .mt-radio-group {
      margin-bottom: 10px;
      .mt-radio {
        margin-bottom: 0;
      }
    }
    &.left-noline {
      .left {
        border: 0;
        padding: 0;
      }
    }
    &.align-center {
      .left, .right {
        padding: 15px 20px;
        .mt-radio,
        .mt-radio {
          width: 50%;
          margin: 5px 0;
        }
      }
    }
    .left, .right {
      display: inline-block;
      width: 49%;
      border: 1px solid #ddd;
      border-radius: 2px;
      padding: 20px;
      vertical-align: top;
      label:not(.mt-checkbox):not(.mt-radio) {
        min-width: 5em;
        &:after {
          content: ":"
        }
        &.required {
          &:before {
            content: "*";
            color: red;
            font-size: 12px;
          }
        }
      }
      &:not(.verticle ) {
        label:not(.mt-checkbox):not(.mt-radio),
        .mt-radio-group,
        .mt-radio-group {
          display: table-cell;
        }
      }
    }
    .left {
      margin-right: 2%;
    }
  }
  button {
    margin-right: 20px;
    background-color: #fff;
    padding: 4px 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    cursor: pointer;
  }
}

.radio-demo-label + * {
  display: inline-block;
}

.radio-basic-demo {
  > div {
    margin: 10px 0;
    &:last-child {
      margin: 0;
    }
  }
}

.radio-field-mode-demo {
  > div {
    margin: 10px 0;
    &:last-child {
      margin: 0;
    }
  }
  .radio-demo-sub-item {
    margin-left: 2em;
  }
}

.radio-validation-demo {
  .radio-demo-label {
    display: inline-block;
    margin-top: 10px;
    &, & + * {
      vertical-align: top;
    }
  }
}

.block-radio-demo {
  .box-meta {
    white-space: pre-wrap;
  }
}
