.page {
  height: 100%;
}
.select-demo {
  .panel-body {
    margin-bottom: 10px;
    > ul > li {
      font-size: 14px;
    }
    .form-item > div {
      margin-bottom: 20px;
    }
    .mt-select-explain,
    .mt-select-multiple-explain {
      position: absolute;
      margin-top: 2px;
    }
  }
}
//.box-body {
//  height: 150px;
//  overflow: auto;
//}
.block-select-demo{
  .select-basic-demo{
    .mt-select{
      width: 300px;
      display:inline-block;
      margin: 0 10px;
    }
    .mt-select-multiple{
      width: 300px;
      display: inline-block;
      margin: 0 10px;
    }
  }
}
.likeTable{
  border: 1px solid #ccc;
  border-right: none;
  height: 42px;
  span{
    height: 100%;
    width: 45px;
    text-align: center;
    line-height: 42px;
    display: inline-block;
    border-right: 1px solid #ccc;
  }
}

.select-custom-demo, .search-item, .multiple-cus, .event-control, .list-custom{
  .mt-select{
    width: 300px;
    display:inline-block;
    margin: 0 10px;
  }
}

.select-basic-demo{
  .choose-object{
    overflow: hidden;
    div{
      float: left;
      margin-left: 10px;
    }
  }
}

.list-custom{
  .mt-select-list{
    margin-top: 20px;
  }
  div{
    min-width: 290px;
    span{
      display: inline-block;
      width: 90px;
      height: 20px;
      line-height: 25px;
      text-align: center;
      vertical-align: bottom;
    }
    .depart{
      width: 120px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .first{
    position: absolute;
    background-color: #f6f6f6;
    left: 0;
    top: 0;
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    span{
      vertical-align: middle;
    }
  }
  .my-trigger{
    width: 400px !important;
  }
  .part-trigger{
    width: 450px !important;
  }
}
