@import '../../../../style/themes/default';

//防止与其他组件的样式的污染
$prefixCls: 'mt-complex-records';
.#{$prefixCls} .multi-select-dropdown {
  &__select {
    .mt-select-multiple-selection {
      margin: 10px;
      max-height: 66px;
      overflow-y: auto;
    }
  }
  &__operation {
    border-top: 1px solid #f5f5f5;
    padding: 7px;
    text-align: center;
    white-space: nowrap;
  }
  &__btn {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__trigger {
    position: static !important;
    box-shadow: none;
    border: none;
    border-radius: 0;
  }
}